html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

a {
    text-decoration: none;
}

body {
    font-size: 100%;
    background: url(../img/blue_background_stars.png);
}

header {
    background: #ffffff;
    padding: 20px 0;
}

header figure img {
    width: 100%;
    padding: 0 1em;
}

@media all and (min-width: 550px) {
    header figure {
        width: 550px;
        margin: auto;
    }
}

h1, h2, h3, h4 {
    font-family: 'cuprum', sans-serif;
    text-align: center;
}



nav {
    margin: 10px;
}

#main_nav ul {
    padding: 0;
    margin: 0;
}

#main_nav ul li {
    padding: 10px;
    background-color: #9cca3d;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 0 6px #76992e;
}

#main_nav ul li:hover {
    background-color: #f7932f;
    text-shadow: 0 0 6px #d98129;
}

#main_nav ul li + li {
    margin-top: 10px;
}

#upcoming_events {
    margin: 10px;
    padding: 10px;
    background: #ffffff;
}

#upcoming_events h3 {
    text-align: left;
    margin: 0;
}

#upcoming_events h2, #upcoming_events h3 + p {
    margin-top: 0;
}

footer section {
    background-color: #ffffff;
    margin: 10px;
    padding: 5px ;
    text-align: center;
    font-size: 80%;
}
