html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

body {
    font-size: 100%;
    background: url(../img/blue_background_stars.png);
}

header {
    background: #ffffff;
    padding: 20px 0;
}

header figure img {
    width: 100%;
    padding: 0 1em;
}

@media all and (min-width: 550px) {
    header figure {
        width: 550px;
        margin: auto;
    }
}

h1, h2, h3, h4 {
    font-family: 'cuprum', sans-serif;
}
