html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: #9cca3d;
}

a:hover {
    text-decoration: underline;
}

body {
    font-size: 100%;
    background: url(../img/blue_background_stars.png);
}

body p {
    font-size: 90%;
}

h1, h2, h3, h4 {
    font-family: 'cuprum', sans-serif;
    text-align: center;
    margin: 0;
}

h2 {
    color: #ffffff;
}

h3 {
    color: #f7932f;
}

ul {
    padding: 0;
    margin: 0;
}

header figure {
    padding: 50px 0 10px;
}

header figure img {
    width: 100%;
    padding: 0 1em;
}

@media all and (min-width: 550px) {
    header figure {
        width: 550px;
        margin: auto;
    }
}

nav {
    width: 100%;
    background: #9cca3d;
}

#main_nav ul li {
    font-size: 110%;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 0 6px #76992e;
}

#main_nav ul li:hover {
    background-color: #f7932f;
    text-shadow: 0 0 6px #d98129;
}

@media all and (min-width: 550px) {
    #main_nav ul li {
        display: inline-block;
        width: calc(100%/4);
    }
}

#main_nav ul li + li {
    margin-top: 10px;
}

#main_nav a {
    color: #ffffff;
}

#main_image {
    margin: 10px;
}

#main_image img {
    border: .5em #ffffff solid;
    width: 100%;
}

#homepage_widgets {
    margin: 10px;
}

#homepage_widgets article + article, #company_info article + article {
    margin-top: 10px;
}

#upcoming_events, #meal_day, #gift_cards, #location_hours, #contact {
    width: 100%;
}

#upcoming_events h3 {
    text-align: left;
    margin-bottom: 0;
}

#upcoming_events header, #meal_day header, #gift_cards header {
    margin-bottom: 10px;
    background: #ea252c;
    padding: 10px;
}

#upcoming_events section, #meal_day section, #gift_cards section {
    background: #ffffff;
    padding: 10px;
}

#upcoming_events h3 + p {
    margin-top: 0;
}

#upcoming_events aside {
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}

#upcoming_events aside p {
    margin: 0;
}

@media all and (min-width: 550px) {
    #meal_day, #gift_cards {
        width: calc(50% - 5px);
    }

    #meal_day {
        margin-right: 5px;
    }

    #gift_cards {
        margin-left: 5px;
    }
}

@media all and (min-width: 800px) {
    #upcoming_events, #meal_day, #gift_cards {
        width: calc(33% - 5px);
    }

    #upcoming_events {
        margin-right: 5px;
    }

    #meal_day {
        margin: 0 0 0 5px;
    }

    #homepage_widgets article + article {
        margin-top: 0;
    }
}

#company_info {
    margin: 10px;
}

#location_hours header, #contact header {
    margin-bottom: 10px;
    background: #f7932f;
    padding: 10px;
}

#location_hours section, #contact section {
    background: #ffffff;
    padding: 10px;
}

@media all and (min-width: 550px) {
    #location_hours, #contact {
        width: calc(50% - 5px);
    }

    #location_hours {
        margin-right: 5px;
    }

    #contact {
        margin-left: 5px;
        text-align: center;
    }

    #company_info article + article {
        margin-top: 0;
    }
}

/*Code for menu page*/

#menu_page article {
    margin: 20px 10px;
}

#menu_buttons {
    width: 100%;
}

#menu_buttons button {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 0 6px #ad9b12;
    background: #fadf1a;
    border: 0;
    padding: 10px;
}

#menu_buttons button:hover, #menu_buttons button.active {
    background: #f7932f;
}

#menu_header {
    margin: 20px 10px 0px;
    background: #ea252c;
    padding: 10px;
}

#menu_buttons button + button {
    margin-top: 10px;
}

#menu {
    margin-top: 10px;
    text-align: center;
}

#menu .mix {
    display: none;
}

#menu img {
    width: 100%;
    border: 5px solid #ffffff;
}

#menu section {
    margin: 5px;
}

@media all and (min-width: 400px) {
    #menu_buttons button {
        width: calc(50% - 10px);
        margin: 5px;
    }
    #menu_buttons header {
        margin-top: 5px;
    }

    #menu section {
        width: calc(50% - 20px);
    }
}

@media all and (min-width: 600px) {
    #menu_buttons {
        width: 25%;
        margin-top: 5px;
    }

    #menu_buttons button {
        width: 100%;
        margin: 0;
    }

    #menu {
        width: calc(75% - 20px);
        margin-top: 0;
    }
}

@media all and (min-width: 800px) {
    #menu_buttons {
        margin-top: 10px;
    }

    #menu_buttons header {
        margin-top: 10px;
    }

    #menu section {
        display: inline-block;
        margin: 10px;
        width: calc(33% - 20px);
    }
}

/*Code for Contact us and find us*/

#social_media {
    text-align: center;
}

#social_media img {
    margin: 5px;
}

/*Code for footer*/

footer {
    margin: 10px;
    padding: 5px ;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    color: white;
}
